.flatpickr-calendar {
  background: var(--bs-gray-900) !important;
  box-shadow: var(--bs-box-shadow) !important;

  .flatpickr-innerContainer {
    .flatpickr-rContainer {
      .flatpickr-weekdays {
        .flatpickr-weekdaycontainer {
          .flatpickr-weekday {
            color: var(--bs-body-color);
          }
        }
      }
    }
  }

  .flatpickr-current-month {
    .flatpickr-monthDropdown-months {
      color: var(--bs-heading-color);
    }

  }

  .flatpickr-day {
    color: var(--bs-body-color);

    &.today {
      border-color: var(--bs-primary);
      background: var(--bs-primary);
      color: var(--bs-white);

      &:hover {
        border-color: var(--bs-primary);
        background: var(--bs-primary);
        color: var(--bs-white);
      }
    }
  }

}

.flatpickr-day.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.nextMonthDay.today.inRange {
  background: var(--bs-gray-100);
  border-color: var(--bs-gray-100);
  color: var(--bs-heading-color);
}

.flatpickr-day.nextMonthDay:focus,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.prevMonthDay:hover {
  border-color: rgba($white, .3);
  background: rgba($white, .3);
  color: rgba($black, .8);
}

.flatpickr-day.today.inRange,
.flatpickr-day:focus,
.flatpickr-day:hover {
  border-color: var(--bs-gray-900);
  background: var(--bs-gray-900);
  color: var(--bs-body-color);
}

.flatpickr-day.nextMonthDay,
.flatpickr-day.flatpickr-disabled {
  color: var(--bs-body-color);
}

.flatpickr-day.nextMonthDay:hover,
.flatpickr-day.flatpickr-disabled:hover {
  border-color: var(--bs-gray-900);
  background: var(--bs-gray-900);
  color: var(--bs-body-color);
}

.flatpickr-day {
  &.inRange {
    box-shadow: -5px 0 0 var(--bs-border-color), 5px 0 0 var(--bs-border-color);
  }
}


.dayContainer {
  .flatpickr-day {

    &.endRange,
    &.startRange {
      background: var(--bs-primary);
      color: var(--bs-white);
      border-color: var(--bs-primary);
    }

    &.inRange,
    &.nextMonthDay.inRange,
    &.nextMonthDay.today.inRange {
      background: var(--bs-gray-100);
      border-color: var(--bs-gray-100);
      color: var(--bs-heading-color);
    }

    &.nextMonthDay:focus,
    &.nextMonthDay:hover,
    &.prevMonthDay.inRange,
    &.prevMonthDay.today.inRange,
    &.prevMonthDay:focus,
    &.prevMonthDay:hover {
      border-color: rgba($white, .3);
      background: rgba($white, .3);
      color: rgba($black, .8);
    }

    &.today.inRange,
    &:focus,
    &:hover {
      border-color: var(--bs-gray-900);
      background: var(--bs-gray-900);
      color: var(--bs-body-color);
    }

    &.nextMonthDay,
    &.flatpickr-disabled {
      color: var(--bs-body-color);
    }

    &.nextMonthDay:hover,
    &.flatpickr-disabled:hover {
      border-color: var(--bs-gray-900);
      background: var(--bs-gray-900);
      color: var(--bs-body-color);
    }

    &.inRange {
      box-shadow: -5px 0 0 var(--bs-border-color), 5px 0 0 var(--bs-border-color);
    }
  }

  .dayContainer {
    .flatpickr-day {

      &.endRange,
      &.startRange {
        background: var(--bs-primary);
        color: var(--bs-white);
      }
    }
  }

  .flatpickr-months {
    .flatpickr-month {
      color: var(--bs-body-color);
      fill: var(--bs-body-color);
    }

    .flatpickr-prev-month,
    .flatpickr-next-month {
      color: var(--bs-heading-color);
      fill: var(--bs-heading-color);
    }
  }
}

.flatpickr-months .flatpickr-month {
  color: var(--bs-body-color);
  fill: var(--bs-body-color);
}

.flatpickr-calendar .flatpickr-months .flatpickr-month,
.flatpickr-calendar .flatpickr-months .flatpickr-prev-month,
.flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  color: var(--bs-heading-color);
  fill: var(--bs-heading-color);
}

.flatpickr-day {
  color: var(--bs-heading-color);
}

.flatpickr-calendar .flatpickr-day.inRange {
  background: var(--bs-body-bg);
  color: var(--bs-primary);
  border-color: var(--bs-body-bg);
  box-shadow: none;
}

.flatpickr-calendar .flatpickr-day.prevMonthDay.inRange,
.flatpickr-calendar .flatpickr-day.nextMonthDay.inRange,
.flatpickr-calendar .flatpickr-day.today.inRange,
.flatpickr-calendar .flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-calendar .flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-calendar .flatpickr-day:hover,
.flatpickr-calendar .flatpickr-day-today:hover,
.flatpickr-calendar .flatpickr-day.prevMonthDay:hover,
.flatpickr-calendar .flatpickr-day.nextMonthDay:hover,
.flatpickr-calendar .flatpickr-day:focus,
.flatpickr-calendar .flatpickr-day.prevMonthDay:focus,
.flatpickr-calendar .flatpickr-day.nextMonthDay:focus {
  background: var(--bs-primary);
  color: var(--bs-white);
  border-color: var(--bs-primary);
  box-shadow: none;
}

.flatpickr-calendar .flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-calendar .flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-calendar .flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n+1)) {
  box-shadow: none;
}

.flatpickr-calendar .flatpickr-day.flatpickr-disabled,
.flatpickr-calendar .flatpickr-day.flatpickr-disabled:hover,
.flatpickr-calendar .flatpickr-day.prevMonthDay,
.flatpickr-calendar .flatpickr-day.nextMonthDay,
.flatpickr-calendar .flatpickr-day.notAllowed,
.flatpickr-calendar .flatpickr-day.notAllowed.prevMonthDay,
.flatpickr-calendar .flatpickr-day.notAllowed.nextMonthDay {
  color: var(--bs-gray-600);
}

@include media-breakpoint-down(md) {
  .fc-toolbar {
    flex-wrap: wrap;

    .fc-left {
      margin-bottom: 1rem;
    }

    .fc-right {
      .fc-button-group {
        margin-top: 1rem;
      }
    }
  }

  .flatpickr-calendar.open {
    left: 32px !important;
  }
}