.input-group {
    flex-wrap: nowrap;

    .form-control {
        border-radius: var(--bs-border-radius);
        border-bottom-left-radius: var(--bs-border-radius);
        border-bottom-right-radius: 0;
        border-right: 0;
        border-top-left-radius: var(--bs-border-radius);
        border-top-right-radius: 0;
        color: var(--bs-heading-color);
        padding-right: 0;

        &:focus {
            border-color: var(--bs-primary) !important;

            +.input-group-text {
                border-color: var(--bs-primary);

            }
        }

        &+.input-group-text {
            border-top-right-radius: var(--bs-border-radius) !important;
            border-bottom-right-radius: var(--bs-border-radius) !important;
        }
    }

    .input-group-text {
        border-bottom-left-radius: 0;
        border-color: var(--bs-body-bg);
        border-left: 0;
        border-top-left-radius: 0;
        color: var(--bs-gray-700);
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
}

.card {
    .image-upload-container {
        .image-upload-box {
            width: 100%;
            height: 100%;
            min-height: 218px;
            border: 1px solid var(--bs-border-color);
            border-radius: var(--bs-border-radius);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: var(--bs-body-bg);
            position: relative;
            cursor: pointer;
        }
    }

}